<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="3">
 <listeners>
 <listener
 class-name="com.htc.orange.listeners.ExtentReportListener"/>
</listeners>

  <test name="AdminTest">
		<classes>
			<class name="com.htc.orange.testcases.AdminTest" />
		</classes>
	 </test> 
	 <test name="Leavelist">
		<classes>
			<class name="com.htc.orange.testcases.LeaveListTest" />
		</classes>
	 </test> 
  <test name="Test">
    <classes>
        <class name="com.htc.orange.testcases.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
